<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.nomba.cordova.plugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>NombaAndroidTerminalPlugin</name><js-module name="NombaAndroidTerminalPlugin" src="www/NombaAndroidTerminalPlugin.js"><clobbers target="cordova.plugins.NombaAndroidTerminalPlugin" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="NombaAndroidTerminalPlugin"><param name="android-package" value="com.nomba.cordova.plugin.NombaAndroidTerminalPlugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/NombaAndroidTerminalPlugin.java" target-dir="src/com/nomba/cordova/plugin/NombaAndroidTerminalPlugin" /></platform></plugin>